@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#about-me-section{
    background-color: #1C1C1E;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


#about-me-bar{
    height: 100%;
    min-width: 2.7vw;
    background: linear-gradient(#FD2155,#FF009F);
}

#about-me-section h1{
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: white;
    width: 4rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0 5px 0.5em 5px;
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56vw;
}

#description h2:first-child{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding: 15px;
    border: 2px solid #7510F7;
    border-radius: 15px;
    width: 654px;
    text-align: center;
    margin: 50px;
}

#description article{
    margin: 20px 40px;
    text-align: center;
    margin-bottom: 55px;
}

#description article p{
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
}

#description article p .bold{
    font-weight: 700;
}

#view-my-story{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: white;
    border: 2px solid #EB7C00;
    text-decoration: none;
    border-radius: 14px;
    padding: 12px 24px;
    transition: background-color ease-in-out 300ms;
}

#view-my-story:hover, #view-my-story:focus{
    background-color: #EB7C00;
}

#education-skill-bar{
    
}
