.aboutMeSectionMainParent {
  margin: 10% 7%;
  display: flex;
  flex-direction: row;
  position: relative;
}

#myImageBlackAndWhite {
  overflow: hidden;
}

#myImageBlackAndWhite img {
  width: 20rem;
  border-radius: 18px;
  border: solid white 3px;
}

#aboutMeDescription {
  width: 38rem;
  margin-left: 8rem;
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

#miniDetailsOne {
  z-index: 2;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 18px 2px rgba(109, 213, 136, 0.5);
  border: #6dd588 solid 1px;
  background-color: #25252f;
  position: absolute;
  padding: 1rem;
  height: 110px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0rem;
  left: -3rem;
  animation: move 6s infinite alternate-reverse ease-out;
}

#miniDetailsTwo {
  z-index: 2;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 18px 2px rgba(109, 213, 136, 0.5);
  border: #6dd588 solid 1px;
  background-color: #25252f;
  position: absolute;
  padding: 1rem;
  height: 110px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8rem;
  left: 16rem;
  animation: moveTwo 5s infinite alternate-reverse ease-out;
}


#miniDetailsThree {
  z-index: 2;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 18px 2px rgba(109, 213, 136, 0.5);
  border: #6dd588 solid 1px;
  background-color: #25252f;
  position: absolute;
  padding: 1rem;
  height: 110px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 16rem;
  left: -4rem;
  animation: moveThree 5s infinite alternate-reverse ease-out;
}


#miniDetailsOne:hover, #miniDetailsOne:focus,
#miniDetailsTwo:hover, #miniDetailsTwo:focus,
#miniDetailsThree:hover, #miniDetailsThree:focus{
  transform: rotateY(360deg);
  transition: all 900ms;
}

@keyframes move {
  0% {
    top: 0rem;
    left: -3rem;
  }

  100% {
    top: -3rem;
    left: 0rem;
  }
}

@keyframes moveTwo {
  0% {
    top: 8rem;
    left: 16rem;
  }

  100% {
    top: 11rem;
    left: 16rem;
  }
}

@keyframes moveThree {
  0% {
    top: 16rem;
    left: -4rem;
  }

  100% {
    top: 20rem;
    left: 1rem;
  }
}

.miniDetailsHeadingOne {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  display: block;
}

.miniDetailsHeadingTwo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

#downloadCvButton {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: transparent;
  padding: 0.4rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: #27ae60 solid 2px;
  transition: all 500ms;
}

#downloadCvButton:hover,
#downloadCvButton:focus {
  background-color: #27ae60;
  transition: all 500ms;
}

#viewMoreButton {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #287a4a;
  padding: 0.4rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: #27ae60 2px solid;
  transition: all 500ms;
  text-shadow: 1px 2px 9px black;
}

#viewMoreButton:hover,
#viewMoreButton:focus {
  background: #27ae60;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
