#headingSectionMainParent {
  margin: 3% 10%;
  background: #232732;
  border-radius: 15px;
  /* height: 200px; */
  box-shadow: 4px 4px 9px 1px rgb(0 0 0 / 30%);
  border: #9747ff solid 2px;
  position: relative; 
}

.headerHeadingContainer span {
  color: white;
  line-height: 0.8;
}

#headingOne {
  display: inline-block;
  color: rgba(185, 185, 185, 0.49);
  margin: 2rem 1rem 0 2rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

#headingTwo {
  font-size: 3rem;
  font-family: "Open sans", sans-serif;
  font-weight: 900;
  margin: 0.6rem 0.3rem 0.6rem 2rem;
}
#headingThree {
  font-size: 3rem;
  font-family: "Open sans", sans-serif;
  font-weight: 900;
  margin: 0.6rem 0.3rem 0.6rem 0rem;
  color: #47c0a0;
}
#headingFour {
  font-size: 3rem;
  font-family: "Open sans", sans-serif;
  font-weight: 900;
  margin: 0.6rem 0.3rem 0.6rem 2rem;
}
#headingFive {
  font-size: 3rem;
  font-family: "Open sans", sans-serif;
  font-weight: 900;
  margin: 0.6rem 0.3rem 0.6rem 0rem;
  color: #47c0a0;
}

#quickDescriptionAboutMe{
    /* background-color: #9747ff; */
    margin: 0.8rem auto 0.8rem 2rem;
    color: white;
    font-family: 'Inter',sans-serif;
    font-size: 1.25rem;
    width: 28rem;
    font-weight: 300;
}

.socialLinksParent{
    margin: 0rem 0rem 1rem 2rem;
}

.socialLinksParent img{
    width: 2rem;

}

.socialLinksParent img:hover{
    transform: rotateX(360deg);
    transition: transform 600ms ease-in-out;
}

.profileImageSlider{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: max-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.profileImageSlider img{
    /* width: 16rem; */
    filter: drop-shadow(0 0 0.75rem rgba(71, 192, 160, 0.50)
);
    transition: 600ms ease-in-out all;

}

.profileImageSlider img:hover{
    filter: drop-shadow(0 0 0.75rem rgba(151, 71, 255, 0.50));
    transition: 600ms ease-in-out all;
}
