#skillsSectionMainParent{
    margin: 4% 10%;
    background-color: #6DD588;
    border-radius: 20px;
    padding-bottom: 1.5rem;
}

#skillsSectionMainParent #mainHeading{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    margin: 0.8rem 1rem 0rem 1rem;
    display: inline-block;
    line-height: 1;
    text-shadow:  1px 1px 10px rgba(0, 0, 0, 0.5);
}

#cardContainer{
    margin: 0rem 2rem 0rem 2rem;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
    
}

.cardParent{
    background-color: #232732;
    border-radius: 15px;
    width: 250px;
    padding: 1rem 1rem;
    margin-right: 1.5rem;
    flex-shrink: 0;
}

.cardImage{
    width: 5rem;
    
}

.cardMainTitle{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
}

.cardProjectTitle{
    color: white;
    font-family: 'Roboto',sans-serif;
    display: block;
    font-weight: 400;
    font-size: 1rem;
}

.cardParent p{
    padding: 0.3rem;
    margin-top:     1rem;
    color: white;
    text-align: center;
}

.ratingParent{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ratingCircles{
    width: 15px;
    height: 15px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.rated{
    background-color: #D0AF00 !important;
}