#skillsSectionMainParent {
  margin: 3% 10%;
  background-color: #6dd588;
  border-radius: 20px;
  padding-bottom: 1.5rem;
  padding-top: 0.8rem;
}

#skillsSectionMainParent #mainHeading {
  color: #25252f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  margin: 0.8rem 1rem 0rem 1rem;
  display: inline-block;
  line-height: 1;
  /* text-shadow:  1px 1px 10px rgba(0, 0, 0, 0.5); */
}

#cardContainer {
  margin: 0 2rem 0rem 2rem;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
}

#cardContainer::-webkit-scrollbar {
    width: 12px;
}

#cardContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(35, 39, 50, 0.2); 
    border-radius: 10px;
}

#cardContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(35, 39, 50, 1);
}

.cardParent {
  background-color: #232732;
  border-radius: 15px;
  width: 250px;
  padding: 1rem 1rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
}

.cardImage {
  width: 5rem;
}

.cardMainTitle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
}

.cardProjectTitle {
  color: white;
  font-family: "Roboto", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 1rem;
}

.cardParent p {
  padding: 0.3rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.ratingParent {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratingCircles {
  width: 15px;
  height: 15px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.rated {
  background-color: #d0af00 !important;
}

#projectsSectionMainParent {
  background-color: #25252f;
  padding: 3rem 3rem 5rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#projectsSectionMainParent #mainHeading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

#categoryParent a {
  color: #3d3d3d;
  margin: 2rem 1rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#categoryParent a:hover,
#categoryParent a:focus,
#categoryParent a.active {
  color: white;
  transition: all 400ms;
}

#projectItemsContainer {
  margin: auto 6rem;
  width: 85%;
  background-color: #232732;
  display: flex;
  flex-direction: row;
  /* overflow-x: scroll; */
}



.projectItem {
  width: 200px;
  height: 200px;
  margin-right: 1rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.iconsParent {
  width: 100%;
  overflow: hidden;
}

.iconsParent img {
  width: 150%;
}

.description {
  background-color: rgba(61, 61, 61, 0.8);
  z-index: 2;
  color: white;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 1rem;
  opacity: 0;
}

.description:hover {
  opacity: 1;
  transition: all 300ms;
}

.description p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px #000;
}

.description img {
  width: 80px;
}

.description img:hover,
.description img:focus {
  transform: rotateZ(360deg);
  transition: all 500ms;
  cursor: pointer;
}

#projectItemControllers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slideButtons {
  width: 40px;
  margin: 0.5rem;
  z-index: 12;
  cursor: pointer;
}

#previousButton {
  transform: rotate(180deg);
}

.slideButtons:hover {
  filter: sepia(79%) saturate(658%) hue-rotate(100deg) brightness(88%)
    contrast(95%);
}

#startAProjectSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 5rem;
  background-color: #216b9b;
  color: white;
  position: absolute;
  top: 30rem;
  border-radius: 20px;
  box-shadow: 4px 4px 9px -2px black;
  justify-content: space-between;
  align-items: center;
}

#startAProjectSection span:first-child {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 800;
  margin-left: 2rem;
  font-size: 1.3em;
}

#startAProjectSection span:nth-child(2) {
  word-wrap: normal;
  width: 478px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  padding: 0 40px;
}

#startAProjectSection a {
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 0.3rem;
  font-size: 1.1rem;
  background-color: white;
  width: 9rem;
  text-align: center;
  border-radius: 15px;
  margin-right: 41px;
  box-shadow: 0px 2px 5px 0px black;
  text-decoration: none;
}

#startAProjectSection a:hover,
#startAProjectSection a:focus{
    background-color: #1abc9c;
    color: white;
    transition: all 400ms ease-in-out;
}

#contactMeSection {
  height: 20rem;
}
