@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav {
    /* -webkit-backdrop-filter: lur(10px); */
    backdrop-filter: blur(10px);
    background-color: rgba(65, 65, 65, 0.5);
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: fixed;
    z-index: 999;
}

nav h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1em;
    padding: .3em;
    color: white;
    float: left;
    position: relative;
    margin-left: 5px;
}

ul {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    width: 500px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header:nth-child(2) video {
    width: 100%;
    /* height: 100vh; */
    /* overflow: hidden; */
}

header:nth-child(2) {
    height: 520.88px;
}

#heading-topics {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
}

#heading-topics h3 {
    color: white;
    font-weight: 300;
    font-size: 2.1em;
}

#heading-topics h1 {
    font-size: 3.5em;
    font-weight: 900;
    color: white;
}

#profile-image {
    width: 40vh;
    height: 38.5vh;
    border-radius: 50%;
    position: absolute;
    top: 40vh;
    left: 40vw;
    display: flex;
    /* overflow: auto; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(#7510F7, #FF009F);
}

#profile-image img {
    width: 96%;
    border-radius: 50%;
    position: absolute;
}

header button{
    width: 10rem;
    position: absolute;
    height: 3rem;
    top: 85vh;
    left: 85vw;
    background: none;
    border: 2px solid #FE0299;
    color: white;
    border-radius: 0.8em;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}

#about-me{
    background: #1C1C1E;
    width: 100%;
    height: 100vh;
}