div{
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    border: #c0392b 4px solid;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation{
    from{
        width: 0;
        height: 0;
        opacity: 90%;
    }

    to{
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}